<main class="main">
  <div *ngIf="isPauloHeadShowed" class="firework"></div>
  <div *ngIf="isPauloHeadShowed" class="firework"></div>
  <div *ngIf="isPauloHeadShowed" class="firework"></div>
  <div [ngClass]="{'content_start': isPauloHeadShowed || isSelectPersoShowed}" class="content">
    <h1  *ngIf="isSelectPersoShowed">Choisissez votre personnage</h1>
    <div *ngIf="isSelectPersoShowed" class="select-perso-container">
      <div (mouseover)="playSelectNoise()" class="select-perso" *ngFor="let perso of persos" (click)="selectPerso(perso); switchPaulo()">
        <div class="perso-img">
          <img src='{{perso.name === "Bonus" ? "question.jpg" : perso.img}}' alt="perso.name" />
        </div>
        <p>{{ perso.name }}</p>
      </div>
    </div>
    <div class="paulo-head-box" *ngIf="isPauloHeadShowed" (click)="returnToSelectPerso()">
      <img src="{{persos[persoIndex].img}}" alt="Paulo Head" class="paulo-head-img rotate" />
    </div>
    <div class="button-box">
      <button *ngIf="!isPauloHeadShowed && !isSelectPersoShowed" (click)="showMenu()">Entrer</button>
    </div>
  </div>
</main>

<router-outlet />
