<main class="main">
  <div *ngIf="isPauloHeadShowed" class="firework"></div>
  <div *ngIf="isPauloHeadShowed" class="firework"></div>
  <div *ngIf="isPauloHeadShowed" class="firework"></div>
  <div class="content">
    <div class="paulo-head-box" *ngIf="isPauloHeadShowed" (click)="switchPaulo()">
      <img src="pauloHead.png" alt="Paulo Head" class="paulo-head-img rotate" />
    </div>
    <button *ngIf="!isPauloHeadShowed" (click)="switchPaulo()">PAUUUUUULO !!!!!!</button>
  </div>
</main>

<router-outlet />
